@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #202020;
  --background-rgb: #fff;
  --midground-rgb: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fff;
    --background-rgb: #202020;
    --midground-rgb: #2c2c2c;
  }
}
html {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

@layer components {
  .btn {
    @apply bg-[#f8f9fa] rounded-md text-sm text-gray-800 hover:ring-1 hover:ring-gray-200 focus:outline-none active:ring-gray-300 hover:shadow-md w-36 h-10 transition-shadow;

    @media (prefers-color-scheme: dark) {
      @apply bg-[#343a40] text-gray-200 hover:ring-gray-700 active:ring-gray-600;
    }
  }

  .link {
    @apply hover:underline cursor-pointer;
  }

  .header-icon{
    @apply bg-transparent hover:bg-gray-200 p-2 text-4xl rounded-full cursor-pointer
  }
}
